h1{
  /*font-family: 'Faster One', cursive;*/
  font-size: 100px;
  font-family: 'Monoton', cursive;
  color: #E6454D;
  font-style:italic;
}

b{/*bolding of letters Q & P and players*/
  font-family: 'Faster One', cursive;
  margin-left: 40px;
}
strong{
  font-family: 'Faster One', cursive;
  font-size: 20px;
  margin-left: 5px;
  color: #E6454D;
}
.first-track {
  position:relative;
  width:740px; height:150px;
  border:4px solid black ;
  background-image: url('http://i.imgur.com/j8K9pDB.png');
}

.second-track {
  position:relative;
  width:740px; height:150px;
  border:4px solid black;
  margin-top: 20px;
  background-image: url('http://i.imgur.com/Sa5jfmw.png');
}
#player1 {
  position:relative;
  width:110px; height:110px;
  margin-top: 17px;
  margin-bottom: 25px;
  background-image: url('http://i.imgur.com/OdW5jat.png');
}
#player2 {
  position:relative;
  width:110px; height:110px;
  margin-top: 17px;
  margin-bottom: 25px;
  background-image: url('http://i.imgur.com/OdW5jat.png');
}
.btn{
  margin-top: 25px;
  width: 200px;
}
